@tailwind base;
@tailwind components;
@tailwind utilities;
#toast-success {
    animation: fadeOut 5s forwards;
    z-index: 1000; /* Ensure the toast is above other elements */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

